canvas {
  height: 600px;
  width: 600px;
  background-color: #eee;
  margin: 0;
  padding: 0;
}

.abs {
  position: absolute;
  top: 0;
}
#map {
  height: 600px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
